body {
    margin: 0;
    padding: 0;
}

.box {
    background-color: white;
    margin: 0;
    padding: 0;
    outline: 1px solid grey;
}

#gridcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 800px;
    height: 800px;
    padding: 0;
    margin: 0;
    gap: 0;
    outline: 1px solid grey;
}